h1 {
    font-style: italic;
    font-size: 50px;

}

header {
    width: 100%;
    background-color: rgb(93, 52, 207);
    display: flex;
    justify-content: space-between;
}

body {
   flex-direction: row;
}

ul {
    list-style: none;
    justify-content: space-between;
    
}       
ol {
    list-style: none;
}



img {
    padding: 12px;
    background-color: rgb(43, 10, 71);
    max-width: 768px;
    max-height: 768px;
    display: flex;
    
}

  footer {
    width: 100%;
    height: 100px;
    background-color: rgb(93, 52, 207);
    display: flex;


  }
