h1 {
    font-style: italic;
    font-size: 50px;

}

header {
    width: 100%;
    background-color: rgb(93, 52, 207);
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    justify-content: space-between;
}       
ol {
    list-style: none;
}

